/* .pd-1 {
    padding: 1%;
}

.pd-input{
    width: 100% !important;
}

.pd-input input{
    padding: 0 1%;
}

.td-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
}

.tb thead th {
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    color: #7D7D7D;
}

.tb tbody td:not(:first-child) {
    padding-left: 7px;
    padding-right: 7px;
}

.tb thead th:nth-child(1) {
    padding-left: 15px;
    width: 2%;
}

.tb thead th:nth-child(2), .tb thead th:nth-child(6) {
    width: 11%;
}
.tb thead th:nth-child(3) {
    width: 30%;
}

.tb tbody td:nth-child(3) {
    font-weight: bold;
}

.tb thead th:nth-child(5), .tb thead th:nth-child(7) {
    padding-left: 27px;
}

.tb thead th:last-child {
    width: 5.7%;
    padding-left: 17px;
}

  .tb tbody td:nth-child(4) {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10%;
    max-width: 0;
    white-space: nowrap;
  }

  .tb tbody td {
    height: 12.5vh;
    }

/* .tb thead th:nth-child(5) {
    width: 50%;
} */

.pd-1 {
    padding: 1%;
}

.pd-input{
    width: 100% !important;
}

.pd-input input{
    padding: 0 1%;
}

.td-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
}

.tb thead th {
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    color: #7D7D7D;
}

.tb tbody td:not(:first-child) {
    padding-left: 7px;
    padding-right: 7px;
}

.tb thead th:nth-child(1) {
    padding-left: 15px;
    width: 10%;
}

.tb thead th:nth-child(2), .tb thead th:nth-child(6) {
    width: 18%;
}

.tb thead th:nth-child(3), .tb thead th:nth-child(4) {
    width: 30%;
}

.tb thead th:nth-child(5) {
    width: 20%;
}

.tb thead th:nth-child(7) {
    width: 13%;
}

.tb thead th:last-child {
    width: 12%;
    padding-left: 17px;
}

.tb tbody td:nth-child(3) {
    font-weight: bold;
}

.tb thead th:nth-child(7) {
    padding-left: 2%;
}

.tb thead th:nth-child(5) {
    padding-left: 3%;
}

  .tb tbody td:nth-child(4) {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10%;
    max-width: 0;
    white-space: nowrap;
  }

  .tb tbody td {
    height: 12.5vh;
    }

/* .tb thead th:nth-child(5) {
    width: 50%;
} */