html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, inter; */
  font-family: inter;
}

body * {
  font-family: inter;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-active {
  background: #efefef;
}

.css-6fbjxc {
  margin-top: 0;
  height: 100%;
}

.css-1c8hul6 {
  align-items: baseline;
}

.MuiContainer-root {
  max-width: 100%;
}

/* .search-area > .MuiPaper-root, .search-area > .MuiPaper-root > .MuiBox-root {
  flex-direction: column;
} */

/* .search-by-data {
  width: 100%;
}

.search-area > .MuiPaper-root {
  padding: 4%;
}

.search-by-data #select {
  padding: 2%;
} */

/* .search-area .Articles_pd-input__WNE7D {
  padding: 1.8%;
  margin-top: 4%;
}

.MuiContainer-root {
  margin-top: 6.5% !important;
} */

/* .search-area .css-1oghyfy {
  margin : 0
} */

/* .search-area > .MuiPaper-root > .MuiBox-root {
  flex-direction: row;
  flex-wrap: wrap;
} */

/* .search-area #btn-search {
  margin-left : 0 !important;
} */








/* 
@media screen and (max-width: 1366px) {
  .MuiContainer-root {
    height: 82.5% !important;
  }

  .MuiTableContainer-root {
    height: 64.5vh !important;
  }

  .MuiTableContainer-root tbody td {
    height: 11.4vh !important;
  }

  .MuiButton-root {
    font-size: 12px !important;
    width: 12% !important;
  }

  .search-by-data {
    width: 18%;
  }

  .search-by-data #select {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .MuiTableContainer-root td, .MuiChip-label {
    font-size: 12px !important;
  }

  .MuiTableContainer-root th {
    font-size: 13px !important;
  }

  .MuiChip-root {
    height: 23px !important;
  }

  .add-category .MuiOutlinedInput-root, .edit-category .MuiOutlinedInput-root{
    width: 83% !important;
    height: 70%;
  }

  .add-category #submit-btn, .add-article #submit-btn, .edit-category #submit-btn, .edit-article #submit-btn{
    height: 70%;
  }

  .add-category #img-dialog, .add-article #img-dialog, .edit-category #img-dialog, .edit-article #img-dialog{
    width: 100% !important;
    heigth: 100% !important;
  }

  .add-article .MuiOutlinedInput-root, .edit-article .MuiOutlinedInput-root{
    height: 70%;
  }

  .add-article .MuiGrid-root:nth-child(2), .edit-article .MuiGrid-root:nth-child(2){
    margin-top: -2%;
  }

  .add-article .MuiGrid-root:nth-child(3), .edit-article .MuiGrid-root:nth-child(3){
    margin-bottom: -3.5%;
  }
}

@media screen and (min-width: 1367px) {
  #multiselect {
    padding-top: 2.3%;
    padding-bottom: 2.3%;
  }
} */

@media only screen and (max-width: 600px) {


}
