html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, inter; */
  font-family: inter;
  }

  body * {
    font-family: inter;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-active{
  background: #efefef;
}

@media (min-width: 1200px){
  .css-1oqqzyl-MuiContainer-root {
    max-width: 97%;
  }
}
